In [7]:
from ib_insync import *
import pandas as pd
import time
import nasdaqdatalink
import sys
from datetime import datetime, timedelta
import numpy as np

sys.path.append('/Users/markwindsor/Desktop/atlas_trade')
from src.utils.sharadar_utils.sharadar_constants import FAMA_INDUSTRY
nasdaqdatalink.ApiConfig.api_key = ''

In [8]:
# Initialize lists for aggregation
row_values = {}
metrics_list = ['calendardate', 'bvps', 'assetturnover', 'currentratio', 'de', 'divyield', 'eps', 'fcfps', 'grossmargin', 'ebitdamargin', 'sps', 'ros', 'roic', 'roe', 'roa', 'payoutratio']
aggregated_metrics = {metric: [] for metric in metrics_list}

fundamental_data = nasdaqdatalink.get_table('SHARADAR/SF1', dimension="MRT", qopts={"columns":metrics_list}, ticker='AAPL')    
fund_df = pd.DataFrame(fundamental_data)
fund_df

,calendardate,bvps,assetturnover,currentratio,de,divyield,eps,fcfps,grossmargin,ebitdamargin,sps,ros,roic,roe,roa,payoutratio
None,,,,,,,,,,,,,,,,
0,2023-06-30,3.840,1.124,0.982,4.559,0.005,5.980,6.433,0.434,0.330,24.458,0.300,0.389,1.649,0.277,0.156
1,2023-03-31,3.937,1.126,0.940,4.344,0.006,5.910,6.175,0.432,0.329,24.393,0.299,0.387,1.657,0.276,0.156
2,2022-12-31,3.569,1.118,0.938,5.113,0.007,5.920,6.135,0.431,0.330,24.385,0.301,0.386,1.635,0.275,0.154
3,2022-09-30,3.125,1.110,0.879,5.962,0.006,6.150,6.872,0.433,0.338,24.317,0.309,0.397,1.609,0.281,0.146
4,2022-06-30,3.595,1.092,0.865,4.788,0.006,6.100,6.656,0.433,0.340,23.977,0.311,0.386,1.530,0.281,0.146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,1993-12-31,0.157,NaN,1.807,1.456,0.015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,1993-09-30,0.152,NaN,1.730,1.552,0.018,0.007,-0.065,0.342,0.038,0.598,0.018,NaN,NaN,NaN,0.571
120,1993-06-30,NaN,NaN,NaN,NaN,0.011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,1992-12-31,NaN,NaN,NaN,NaN,0.008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,1992-09-30,NaN,NaN,NaN,NaN,0.010,0.039,0.053,0.437,0.151,0.517,0.121,NaN,NaN,NaN,0.103

In [9]:
fundamental_data = nasdaqdatalink.get_table('SHARADAR/SF1', dimension="MRT", qopts={"columns": 'calendardate,roa,roe,roic'}, ticker='AAPL')    
fundamental_data

     calendardate    roa    roe   roic
None
0      2023-06-30  0.277  1.649  0.389
1      2023-03-31  0.276  1.657  0.387
2      2022-12-31  0.275  1.635  0.386
3      2022-09-30  0.281  1.609  0.397
4      2022-06-30  0.281  1.530  0.386
...           ...    ...    ...    ...
118    1993-12-31    NaN    NaN    NaN
119    1993-09-30    NaN    NaN    NaN
120    1993-06-30    NaN    NaN    NaN
121    1992-12-31    NaN    NaN    NaN
122    1992-09-30    NaN    NaN    NaN

[123 rows x 4 columns]