# Sharadar Data Fetching 

We'll explore different ways to request Sharadar data from Nasdaq

In [3]:
import nasdaqdatalink

nasdaqdatalink.ApiConfig.api_key = 'zxLNKQydu_qNXQ2tZ7vz'
columns = ["ticker", "calendardate", "revenue"]
data = nasdaqdatalink.get_table('SHARADAR/SF1', dimension="MRQ", qopts={"columns": columns}, ticker='XOM')

data

     ticker calendardate       revenue
None
0       XOM   2023-06-30  8.291400e+10
1       XOM   2023-03-31  8.656400e+10
2       XOM   2022-12-31  9.542900e+10
3       XOM   2022-09-30  1.120700e+11
4       XOM   2022-06-30  1.156810e+11
...     ...          ...           ...
106     XOM   1996-12-31  3.751200e+10
107     XOM   1996-09-30  3.332100e+10
108     XOM   1996-06-30  3.221100e+10
109     XOM   1996-03-31  3.120500e+10
110     XOM   1995-12-31           NaN

[111 rows x 3 columns]